*{
    margin: 0;
    padding: 0;
}

header{
    width: 100%;
    height: 75px;
    background-color: black;
    display: flex;
    justify-content: space-around;
}

.logo{
    margin-top: 17px;
}

.logo img{
    margin-right: 41px;
}

.akk{
    
    margin: 18px 0 0 25%;
}

.akk img{
    margin-right: 41px;
}

.container{
    max-width: 1600px;
    margin: 0 auto;
}

.slider{
    height: 764px;
    background-color: #F1E4E6;
    display: flex;
    justify-content: space-between;
}

.slidertext img{
    margin: 350px 0;
    float: left;
}

.slt{
    size: 32px;
    margin: 346px 234px 0 24px;
}

.slt h1{
    font-family: Lato;
    font-style: normal;
font-weight: 900;
font-size: 48px;
line-height: 58px;
}

.slt h3{
    font-family: Lato;
font-style: normal;
font-weight: bold;
font-size: 32px;
line-height: 38px;
float: left;
}

.fash{
    font-family: Lato;
font-style: normal;
font-weight: bold;
font-size: 32px;
line-height: 38px;
color: #F16D7F;
}

.content{
    max-width: 1142px;
    margin: 0 auto;
}

.for{
    display: flex;
}

.forcart{
    position: relative;
    width: 360px;
    height: 260px;
    margin: 65px 30px 30px 0;
}

.fortxt h3{
    font-family: Lato;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 19px;
text-align: center;
color: #FFFFFF;
}

.fortxt h2{
    font-family: Lato;
font-style: normal;
font-weight: bold;
font-size: 24px;
line-height: 29px;
text-align: center;
color: #F16D7F;
}

.wh{
    position: absolute;
    top: 44%;
    left: 26%;
}

.mh{
    position: absolute;
    top: 44%;
    left: 33%;
}

.kh{
    position: absolute;
    top: 44%;
    left: 34%;
}

.women img{
    filter: brightness(35%);
}

.men img{
    filter: brightness(35%);
}

.kids img{
    filter: brightness(35%);
}

.kids {
    margin-right: 0px;
}

.acces{
    position: relative;
    width: 1142px;
    height: 180px;
    margin-bottom: 96px;
}

.acces img{
    filter: brightness(40%);
}

.ach {
    position: absolute;
    top: 60px;
    left: 43%;
}

.ach h3{
    font-family: Lato;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 19px;
text-align: center;
color: #FFFFFF;
}

.ach h2{    
    font-family: Lato;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    color: #F16D7F;
}

.fih{
    font-family: Lato;
font-style: normal;
font-weight: normal;
font-size: 30px;
line-height: 36px;
text-align: center;
color: #222222;
}

.fip{
    font-family: Lato;
font-style: normal;
font-size: 14px;
line-height: 17px;
text-align: center;
color: #5D5D5D;
margin-bottom: 48px;
}

.items{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 64px;
}

.itemscart{
    position: relative;
    background-color: #F8F8F8;
    width: 360px;
    height: 582px;
    margin: 0 30px 30px 0;
}

.ic1{
    margin: 0;
}

.hover{
    position: absolute;
    opacity: 0.5;
    left: 0px;
}

.price{
    font-family: Lato;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 19px;
color: #F16D7F;
margin-left: 18px;
}

.itemscart p{
    font-family: Lato;
font-style: normal;
font-weight: 300;
font-size: 14px;
line-height: 17px;
color: #5D5D5D;
margin:0 0 18px 18px;
}

.hh{
    font-family: Lato;
font-style: normal;
font-weight: normal;
font-size: 13px;
line-height: 16px;
color: #000000;
margin: 25px 0 13px 18px;
}

.AP{
    margin: 0 0 95px 45%;
    width: 212px;
    height: 48px;
    background-color: #F16D7F;
    text-align: center;
    border: none;
    font-family: Lato;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 19px;
color: #FFFFFF;
}

.quality{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    height: 341px;
    background-color: #222224;
}

.selqu{
    text-align: center;
   width: 360px;
   height: 134px;
   margin: 103px 30px 104px 0;
}

.selqu h1{
    font-family: Lato;
font-style: normal;
font-weight: normal;
font-size: 19.96px;
line-height: 24px;
color: #FBFBFB;
}

.selqu p{
    font-family: Lato;
font-style: normal;
font-weight: 300;
font-size: 13.972px;
line-height: 17px;
text-align: center;
color: #FBFBFB;
}

.subs {
    width: 100%;
    height: 448px;
    display: flex;
    background-image: url(img/subscribe.png);
}

.subcol{
    text-align: center;
    width: 360px;
    height: 225px;
    position: relative;
    margin-top: 97px;
}

.subcol1{
margin: 97px 327px 0 230px;
}

.subcol h2{
    font-family: Lato;
font-style: normal;
font-weight: normal;
font-size: 20px;
line-height: 24px;
text-align: center;
color: #222224;
margin-top: 30px;
}

.subcol input{
    padding-left: 20px;
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    display: flex;
    align-items: center;
    color: #222224;
    opacity: 0.67;
    background: #E1E1E1;
    width: 235px;
    height: 49px;
    border: none;
    border-radius: 20px 0 0 20px;
    float: left;
}

.subcol button{
    background: #E05C6E;
    position: absolute;
    left: 250px;
    top: 99px;
    font-family: Lato;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 17px;
display: flex;
align-items: center;
color: #FFFFFF;
width: 100px;
height: 51px;
border: none;
border-radius: 0 20px 20px 0;
padding-left: 23px;
}
.subcol h3{
    font-family: Lato;
font-style: normal;
font-weight: bold;
font-size: 24px;
line-height: 167.2%;
text-align: center;
color: #222224;
}

.subcol p{
    font-family: Lato;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 167.2%;
text-align: center;
color: #222224;
margin-bottom: 30px;
}

.subcol2{
    margin-top: 150px;
}

footer{
    display: flex;
    width: 100%;
    height: 79px;
    background-color: #222224;
    align-items: center;
    justify-content: space-around;
}

.copy{
    font-family: Lato;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 19px;
color: #FBFBFB;
}

nav{
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    height: 148px;
    background-color: #F8F3F4;
}

nav h1{
    margin-left: 230px;
    font-family: Lato;
font-style: normal;
font-weight: normal;
font-size: 24px;
line-height: 29px;
color: #F16D7F;
}

nav h3{
    font-family: Lato;
font-style: normal;
font-weight: 300;
font-size: 14px;
line-height: 17px;
color: #636363;
float: left;
}

.str{
    background-color: white;
    justify-content: center;
}

.page-item{
    text-decoration: none;
    list-style-type: none;
    margin: 25px;
}

.page-link{
    display: flex;
    text-decoration: none;
    width: 35px;
    height: 35px;
    align-items: center;
    justify-content: center;
}

.pagination{
    display: flex;
}

.slideProd{
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 777px;
    background-color: #F7F7F7;
    align-items: center;
    z-index: 1;
}

.boxprod{
    width: 1141px;
    height: 601px;
    text-align: center;
    outline: 1px solid #EAEAEA;
    z-index: 0;
    position: relative;
    top: -54px;
    background-color: white;
}

.boxprod h3{
    padding-top: 64px;
    font-family: Lato;
font-style: normal;
font-weight: 300;
font-size: 14px;
line-height: 17px;
color: #F16D7F;
}

.boxprod h2{
    margin-top: 12px;
    font-family: Lato;
font-style: normal;
font-weight: 300;
font-size: 18px;
line-height: 22px;
color: #4D4D4D;
}

.boxprod p{
    margin: 48px 302px 0 284px;
    font-family: Lato;
font-style: normal;
font-weight: 300;
font-size: 14px;
line-height: 17px;
text-align: center;
color: #5E5E5E;
}

.priceProd{
    margin-top: 33px;
    font-family: Lato;
font-style: normal;
font-weight: 300;
font-size: 24px;
line-height: 29px;
color: #EF5B70;
}

.line{
    align-items: center;
    width: 642px;
    height: 1px;
    border-top: 1px solid #EAEAEA;
    margin: 64px 250px
}

.boxprod button{
    justify-content: space-around;
    width: 212px;
    height: 48px;
    background-color: #FFFFFF;
    text-align: center;
    border: 1px solid #FF6A6A;
    font-family: Lato;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 19px;
color: #F26376;
}

.boxprod button p{
    margin: 5px 22px 0 0;
    font-family: Lato;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 19px;
color: #F26376;
}

.boxprod button img{
    margin: 2px 0 0 40px;
    float: left;
}

.sort{
    margin: 64px 0 49px 0;
    display: flex;
    justify-content: center;
    background-color: white;
    height: 20px;
}

.sort p{
    margin: 0 25px;
}